---
layout: default
---
<!DOCTYPE html>

<style>
  .bordered-row {
      border: 1px solid black;
  }

  .border-table-style tr {
    border: 3px solid gray;
    color: black;
  }

  .hidden-style{
    display: none;
  }  
</style>

<html>
  <head>
    <script>
      function filterRecords() {
        const selectedYear = parseInt(document.getElementById("season").value);
        const selectedWeek = document.getElementById("week").value.replace(/\s/g, "");
        const selectedTeam = document.getElementById("team").value.replace(/\s/g, "");

        let noRecordsFound = true;

        Array.from(rows).forEach(row => {
          const year = parseInt(row.getElementsByTagName("td")[2].textContent);
          const week = row.getElementsByTagName("td")[3].textContent.replace(/\s/g, "");
          const awayTeam = row.getElementsByTagName("td")[4].textContent.replace(/\s/g, "").replace(/\(\d+\)/g, "");
          const homeTeam = row.getElementsByTagName("td")[5].textContent.replace(/\s/g, "").replace(/\(\d+\)/g, "");

          const matchesTeam = (selectedTeam === "All" || awayTeam === selectedTeam || homeTeam === selectedTeam);
          const matchesWeek = (selectedWeek === "All" || week === selectedWeek);
          const matchesYear = (selectedYear === -1 || year === selectedYear);

          if (selectedWeek === "All") {
            row.getElementsByTagName("td")[3].style.display = "";
          } else {
            row.getElementsByTagName("td")[3].style.display = "none";
         }

          if (selectedYear === -1) {
            row.getElementsByTagName("td")[2].style.display = "";
          } else {
            row.getElementsByTagName("td")[2].style.display = "none";
          }

          const shouldDisplayRow = matchesTeam && matchesWeek && matchesYear;

          if (shouldDisplayRow) {
              row.style.display = "";
              noRecordsFound = false;
          } else {
              row.style.display = "none";
          }
        });

        const messageElement = document.getElementById("no-records-message");
        if (noRecordsFound) {
            messageElement.textContent = `No records found for ${selectedTeam} in Week ${selectedWeek}, ${selectedYear}.`;
            messageElement.style.display = "block";
        } else {
            messageElement.style.display = "none";
        }
      }

      function updateWeeks() {
          var selectedSeason = document.getElementById("season").value;
          var weekSelect = document.getElementById("week");
          var data = JSON.parse(`{{ site.data.ncaa_unique_seasons | jsonify }}`);
          weekSelect.innerHTML = "";
          var selectedData = data.find(function(item) {
              return item.season == selectedSeason;
          });

          if (selectedData) {
              selectedData.weeks.forEach(function(week) {
                  var option = document.createElement("option");
                  option.value = week;
                  option.text = week;
                  weekSelect.appendChild(option);
              });
          }
        }        

      function updateTeams() {
        var teamSelect = document.getElementById("team");
        var data = JSON.parse(`{{ site.data.ncaa_teams | jsonify }}`);
        teamSelect.innerHTML = "";
        var allOption = document.createElement("option");
        allOption.value = "All";
        allOption.text = "All Teams";
        teamSelect.appendChild(allOption);

        data.teams.forEach(function(team) {
            var option = document.createElement("option");
            option.value = team;
            option.text = team;
            teamSelect.appendChild(option);
        });
      }
    </script> 
  </head>

  <body>
    <h1>NCAAF Game Ratings</h1>
    <label for="season">Select Year:</label>
    <select id="season" onchange="updateWeeks();filterRecords()" >
      {% for data in site.data.ncaa_unique_seasons %}
        {% if data.season == -1 %}
          <option value="{{ data.season }}">All Years</option>
        {% else %}
          <option value="{{ data.season }}">{{ data.season }}</option>
        {% endif %}
      {% endfor %}
    </select>

    <label for="week">Select Week:</label>
    <select id="week" onchange="filterRecords()">
    </select>

    <label for="team">Select Team:</label>
    <select id="team" onchange="filterRecords()">
    </select>

    <div id="no-records-message" style="display: none; color: rgb(152, 11, 0);"></div>

    {% assign table_rows = site.data.ncaa_game_ratings %}
    <table id="NcaafGameRatings" class="border-table-style" style="display: none;">
        {% for row in table_rows %}
            <tr title="{{ row.notes }}">
                {% for pair in row %}
                  {% if forloop.index0 == 0 %}
                    {% assign away_color = pair[1] %}
                  {% endif %}
                  {% if forloop.index0 == 1 %}
                    {% assign home_color = pair[1] %}
                  {% endif %}
                  {% if forloop.index0 >= 2 %}
                    {% if forloop.index0 == 2 %}
                      <td style="background-color:rgb(203, 203, 203)">{{ pair[1] }}</td>
                    {% endif %}
                    {% if forloop.index0 == 3 %}
                      <td style="background-color:rgb(203, 203, 203)">{{ pair[1] }}</td>
                    {% endif %}
                    {% if forloop.index0 == 7 %}
                      <td style="background-color:{{ away_color }}">{{ pair[1] }}</td>
                    {% endif %}
                    {% if forloop.index0 == 8 %}
                      <td style="background-color:{{ home_color }}">{{ pair[1] }}</td>
                    {% endif %}
                    {% if forloop.index0 == 9 %}
                      <td style="background-color:rgb(203, 203, 203)">{{ pair[1] }}</td>
                    {% endif %}                    
                  {% else %}
                    <td class="hidden-style">{{ pair[1] }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <script>
      const table = document.getElementById("NcaafGameRatings");
      const rows = table.getElementsByTagName("tr");
      updateWeeks();
      updateTeams();
      filterRecords();
      table.style.display = "";
    </script>   
  </body>
</html>